#	$OpenBSD: sshd_config,v 1.80 2008/07/02 02:24:18 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options change a
# default value.

Port 3773

# The default requires explicit activation of protocol 1
Protocol 2

PermitRootLogin no
PubkeyAuthentication yes

# Disable password authentication and forward all auth attempts to
# PAM backend (which requires ChallengeResponseAuthentication set 
# to yes)
PasswordAuthentication no
PermitEmptyPasswords no

# Allow ChallengeResponseAuthentication with PAM backend
ChallengeResponseAuthentication yes
AuthenticationMethods keyboard-interactive

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

UsePrivilegeSeparation sandbox # Default for new installations.
#PermitUserEnvironment no
Compression no
ClientAliveInterval 15
ClientAliveCountMax 4

MaxAuthTries 3
# no default banner path
Banner /etc/ssh/sshd_banner
